<!-- index.html-->
{% extends "base.html" %}
{% block title %}Requests and posts{% endblock %}
{% block body %}
    <div class="container" align = "center" style = "margin-top: 50px; margin-bottom: 50px;">
        {% if current_user.type == "Brand/Agency" %}
            <h2>My requests</h2>
        {% else %}
            <h2>My posts</h2>
        {% endif %}
        {% with alerts = get_flashed_messages() %}
            {% if alerts %}
                {% for alert in alerts %}
                    {% if "Success" in alert or 'Great' in alert %}
                        <div class="alert alert-success">
                          {{ alert }}
                        </div>
                    {% else %}
                        <div class="alert alert-danger">
                          {{ alert }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% if current_user.email_confirmed == 0 %}
            <div class="alert alert-warning">
                <strong>Please</strong>, confirm your email!
            </div>
        {% endif %}

        {% if current_user.type == 'Brand/Agency' %}
            {% if user.channels.all() %}
              <table class="table table-responsive table-striped table-bordered">
                  <thead>
                  <tr>
{#                      <th style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;">My requests, №</th>#}
                      <th style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;">Channel <i class="icon-profile"></i></th>
                      <th style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;">Project Link <i class="icon-link"></i></th>
                      <th style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;">Ad Content <i class = "icon-file-text"></i></th>
                      <th style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;">Comment <i class="icon-bubble"></i></th>
                      <th style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;">Action <i class = "icon-hammer2"></i></th>
                  </tr>
                  </thead>
                  <tbody>

                  {% for channel in user.channels.all() %}
                      {% for request in channel.requests.all() %}
                      <tr>
                          {% if request.declined == 0 %}
{#                              <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;">{{ loop.index }}</td>#}
                              <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;">{{ channel.name }}</td>
                              <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;"><a style = "color: #54C571;" href="{{ request.link }}">{{ request.link }}</a></td>
                              <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;"><b>{{ request.content }}</b></td>
                              <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;"><b>{{ request.comment }}</b></td>
                              {% if request.confirmed == 0 %}
                                  <td>
                                      <a href="/accept_request?request_id={{ request.id }}"><button class="btn btn-success">Accept</button></a>
                                      <a href="/decline_request?request_id={{ request.id }}"><button class="btn btn-warning">Decline</button></a>
                                  </td>
                              {% elif request.posted == 0 %}
                                  <form action="/confirmSHARELINK" method="POST">
                                      <td>
                                          <input type="text" class="form-control" name="link">
                                          <hr>
                                          <input type="hidden" class="form-control" value="{{ request.id }}" name="request_id">
                                          <button type="submit" class="btn btn-success">Confirm</button></td>
                                      </td>
                                  </form>
                              {% else %}
                                  <td><b>Already posted. Must be on the channel till {{ request.post_time }}.</b></td>
                              {% endif %}
                          {% elif request.posted == 1 %}
{#                              <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;">{{ loop.index }}</td>#}
                              <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;">{{ channel.name }}</td>
                              <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;"><a style = "color: #54C571;" href="{{ request.link }}">{{ request.link }}</a></td>
                              <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;"><b>{{ request.content }}</b></td>
                              <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;"><b>{{ request.comment }}</b></td>
                              <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;"><b>Breaking rules detected - post vanished earlier than {{ request.post_time }}! Funds on your virtual wallet are not valid anymore.</b></td>
                          {% endif %}
                      </tr>
                      {% endfor %}
                  {% endfor %}
                  </tbody>
              </table>
            {% else %}
              <h1>Ain't no channel of yours.</h1>
            {% endif %}
        {% elif user.posts.all() %}
            <table class="table table-responsive table-striped table-bordered">
                <thead>
                    <tr>
{#                        <th style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;">My posts, №</th>#}
                        <th style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;">Content <i class="icon-file-text"></i></th>
                        <th style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;">Project Link <i class="icon-link"></i></th>
                        <th style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;">Status <i class = "icon-checkmark"></i></th>
                        <th style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;">Comment <i class="icon-bubble"></i></th>
                        <!--part to cancel the request-->
                        <th style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;">Action <i class="icon-hammer2"></i></th>
                    </tr>
                </thead>
                <tbody>

                  {% for post in user.posts.all() %}
                  <tr>
{#                      <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;">{{ loop.index }}</td>#}
                      <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;">{{ post.content }}</td>
                      <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;"><a style = "color:#54C571;" href="{{ post.link }}">{{ post.link }}</a></td>
                      {% if post.confirmed == 0 and post.declined == 0 %}
                          <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;"><b>Under Consideration</b></td>
                          <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;"><b>Your request is being considered by the channels administrator...</b></td>
                          <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;"><a href="/rollback?post_id={{ post.id }}"><button class="btn btn-warning">Cancel request</button></a></td>
                          {% elif post.posted == 1 and post.declined == 0 and post.post_time > time_now %}
                              <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;"><b>Posted!</b></td>
                              <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;"><b>Now your post is on the channel! Will be there till {{ post.post_time }} UTC. Check it out -> <a color = "#54C571" href="{{ post.SHARELINK }}">{{ post.SHARELINK }}</a></b></td>
                              <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;"><a href="/complain?post_id={{ post.id }}"><button class="btn btn-warning">Complain</button></a></td>
                              {% elif post.confirmed == 1 and post.declined == 0 and post.posted == 0 %}
                                  <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;"><b>Accepted!</b></td>
                                  <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;"><b>Now the administrator of the channel has 48 hours to post the ad.</b></td>
                                  <td></td>
                                  {% elif post.posted == 1 and post.declined == 1 %}
                                      <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;"><b>Annulled!</b></td>
                                      <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;"><b>Your complain was considered and refunded.</b></td>
                                      <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;"><a href="/remove_row?post_id={{ post.id }}"><button class="btn btn-danger">Remove</button></a></td>
                                      {% else %}
                                          <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;"><b>Declined</b></td>
                                          <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;"><b>Sorry! The administrator of the channel didn't accept your ad request.</b></td>
                                          <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;"><a href="/remove_row?post_id={{ post.id }}"><button class="btn btn-danger">Remove</button></a></td>
                                      {% endif %}
                  </tr>
                  {% endfor %}
                  </tbody>
            </table>
        {% else %}
            <h2>Ain't no post of yours!</h2>
        {% endif %}
    </div>
{% endblock %}