<!-- login.html-->
{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container" align = "center" style = "margin-top: 50px; margin-bottom: 50px;">
        <h2>Login</h2>
        {% with alerts = get_flashed_messages() %}
            {% if alerts %}
                {% for alert in alerts %}
                    {% if "Success" in alert or "further" in alert %}
                        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                            <div class="alert alert-success">
                              {{ alert }}
                            </div>
                        </div>
                    {% else %}
                        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                            <div class="alert alert-danger">
                              {{ alert }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <form align = "left" method="POST" action="/login">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.email, horizontal_columns=('sm', 1, 5)) }}
                    {{ wtf.form_field(form.password, horizontal_columns=('sm', 2, 10)) }}
                    {{ wtf.form_field(form.remember) }}
                <div class="form-group">
                    <button type="submit" class="btn btn-style">Login</button>
                </div>
                <div>
                    Forgot your password? <a href="#" style = "color: #54C571;"  data-toggle="modal" data-target="#myModal">Reset Password</a><br>
                    Don't have an account? <a href="/signup" style = "color: #54C571;" >Sign Up</a>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Reset password</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              <form method="POST" action="/login">
                  {{ form1.hidden_tag() }}
                  {{ wtf.form_field(form1.email) }}
                  <div class="form-group">
                    <button type="submit" class="btn btn-style">Send new password</button>
                  </div>
              </form>
          </div>
        </div>

      </div>
    </div>
{% endblock %}