<!-- privacy.html-->
{% extends "base.html" %}
{% block title %}Privacy{% endblock %}
{% block body %}
<!-- Page Content -->
<div class="container" style = "padding-top: 5%; padding-bottom: 5%;">
    <div class="content">
        <div class="page-header">
            <h3>Privacy Policy</h3>
            <p>We go to great lengths to protect our users privacy. Here are some of the things we promise to do:</p>
        </div>
        <div class="page-body">
            <ol>
                <li>We will never publicize your email, password or any personal contact information.</li>
                <li>We will never sell or offer your information to any third parties under any circumstances or laws.</li>
                <li>We may use cookies to store your login session in order to log you in automatically.</li>
                <li>We will never spam or use your email to send anything unrelated to Streeper.</li>
                <li>We encrypt your passwords and don\'t have ability to view or change it, if you loose your password to your Streeper account, you will need to reset it using the email you signed up with. There is no other option.</li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}