<!-- tos.html-->
{% extends "base.html" %}
{% block title %}Terms of Service{% endblock %}
{% block body %}
<main role="main">
<div class="container" style = "padding-top: 5%; padding-bottom: 5%;">
    <div class="content">
        <div>
            <h3>Terms of Service</h3>
            <p>Our terms and conditions are pretty straight forward. If you have any questions, contact us <a href="/contact" style="color: #54C571;">here</a>.</p>
        </div>
        <div style="padding-left: 3%;">
            <h5>Advertiser Terms</h5>
            <ol>
                <li>Streeper influencers may require additional information before posting a shoutout.</li>
                <li>The funds spent on orders are taken from user's virtual wallet and are guaranteed to be taken back in case of breacking rules from the administrators' side. </li>
                <li>Streeper influencers may send a complain in case of administrator's rule violation. The complain will be considered and ad's post will be checked by Streeper's service.</li>
                <li>Influencer should be aware of the possibility being declined without explanation.</li>
                <li>Streeper cannot guarantee that the Influencer's ad post will be on the channel longer than arranged 24 hours (which we consider a reasonable duration to be caught by target audience).</li>
                <li>If administrator declines Influencer's advertisement request all money are refunded to the Influencer's virtual wallet.</li>
            </ol>

            <hr class="featurette-divider">
            <h5>Influencer Terms</h5>
            <ol>
                <li>You can accept/decline advertisement requests.</li>
                <li>You must have the rights of an owner of a channel, which is confirmed by adding a secret key to the channel's description just for some seconds to let Streeper's service check it.</li>
                <li>You must confirm post existence after accepting the advertisement request by post's SHARELINK, which is needed for our service to check the content of the post.</li>
                <li>Money for the post which is accepted and confirmed by the SHARELINK are transfered to your virtual wallet and can be taken from it only after deal ends - in 24 hours after confirmation. </li>
                <li>You should be aware of the fact that money from a deal can be taken from your virtual wallet in case of rule violation detection. Any questions and controversial situation can be solved throughout our <a href="/contact" style="color: #54C571;">contact</a> form.</li>
                <li>The duration of post presence is 24 hours from the moment of SHARELINK confirmation.</li>
            </ol>
        </div>
    </div>
</div>
</main>
{% endblock %}