<!-- index.html-->
{% extends "base.html" %}
{% block title %}Streeper{% endblock %}
{% block body %}
    <!-- Main part -->
    <main role="main">

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('../../static/images/paper_plane.jpg')">
            <div class="carousel-caption">
              <h3>Who we are?</h3>
              <p>We are the online ads marketplace for telegram channels.</p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('../../static/images/paper_plane2.jpg')">
            <div class="carousel-caption">
              <h3>What we can?</h3>
              <p>We can be the agent between the agency and a client, controlling all terms of the transaction to be appropriate.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

        <!-- Page Content -->
        <section class="py-5" style = "text-align: center">
          <div class="container">
            <h1>Our main features:</h1>
          </div>
        </section>

    	<!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->
    	<div class="container marketing">

    	<!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
          	<img src="../../static/images/phone.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Contact service</h2>
            <p>During transaction our platform regulates following rules from both sides of the deal. You can contact our service while having any troubles as failure to fulfill the terms of the transaction and etc.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
          	<img src="../../static/images/searching.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Specific search</h2>
            <p>You can search for specific channels by username and view information about members amount, apply different filters to channels to adopt output results personally for your needs.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
          	<img src="../../static/images/stats.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Statistics</h2>
            <p>To provide the deals with maximum efficiency, client can observe the average views on each post of the prefered channel, taking into account the possible outcome of the deal.</p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
          

    </div><!-- /.container -->
    </main>

{% endblock %}